body{
	background:rgba(236,240,241,0.2)
}
.container{
	width: 80%;
	margin: auto;
	text-align: center;
	border:1px solid  #ddd;
	background-color: white;
}
.header{
	background: rgb(39,174,96);
	/*;*/
	color:white;
	padding: 10px;
}
.header h2{
	font-style: normal;
}
.h2{
	background-color: rgb(46,204,113);
	color: white;
	padding: 10px;
	margin: 0;
}
#div{
	text-transform: capitalize;
	padding: 10px;
	font-size: 25px;
}
#button{
	padding: 25px 60px;
	display: block;
	margin: auto;
	font-size: 20px;
}
.input{
	margin: 10px auto;
	padding: 20px 50px;
	height:3rem;
	font-size: 35px;

}
.footer{
	background-color: rgb(39,174,96);
	color: white;
	padding: 60px 0 10px;
	border-top:1px solid  #ddd;
	/*height: 150px*/
}
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.err{
	padding: 10px;
	background-color: rgba(231,76,60,0.7);
	border-radius: 0.5rem;
	border:1px solid #ddd;
	color: rgb(44,62,80);
	margin: 15px 0;
	display: none;
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
span{
	text-decoration: line-through;
}
